@import url('https://fonts.googleapis.com/css?family=Hind');

body {
	background-color: #d17b0f;
	margin: 0;
	font-family: 'Hind', sans-serif;
}

.menu {
	background-color: #E8D33F;
}

a, p {
	color: #b7f0ad;
	text-decoration: none;
}

li {
	list-style: none;
	margin: 0 0 0 1em;
	padding: 0 1em;
}

p {
	padding: 0 1em;
}

.icon {
	padding: 0 1em;
}

.topnav {
    flex-direction: row;
}

.icon {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;


}
ul {
    display: flex;
}

@media screen and (max-width: 500px) {
    .icon {
        display: inline-block;

    }

nav {
    flex-direction: column;
}
nav ul {
    flex-direction: column;
}

nav li {
    margin:20px 0px;
}

    .topnav {
        display: none;
    }
    .menu > div:first-child {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
}

.navLink {
    background: #d17b0f;
    padding: 10px;
    box-shadow: 5px 5px 3px #000;


}
.navLink:hover {
    padding: 40px 40px;
}

.links {
    background: #d17b0f;
    padding: 10px;
    box-shadow: 5px 5px 3px #000;
    justify-content: space-around;
}
